<!DOCTYPE html>
<html>
<head>
    <title data-i18n="adminLessonsListTitle">Admin Panel - Lessons List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/" class="home-button">
        <img src="https://styles.redditmedia.com/t5_851o4i/styles/profileIcon_0elfudeu2s5b1.jpg?width=256&height=256&frame=1&auto=webp&crop=256:256,smart&s=86be605407a08efe2894a6bacd089074aca51879" alt="Home">
    </a>
    <h1 data-i18n="adminPanel">Admin Panel</h1>
    <div class="admin-controls">
        <a href="/admin/new" class="button" data-i18n="createNewLesson">Create New Lesson</a>
        <a href="/history" class="button" data-i18n="activityLog">Activity Log</a>
    </div>
    <div id="lesson-list">
        <h2 data-i18n="existingLessons">Existing Lessons</h2>
        <div class="lesson-items">
            <!-- Lessons will be dynamically added here -->
        </div>
    </div>
    
    <script src="/js/admin-list.js"></script>
    <script src="/js/drag-utils.js"></script>
    <script src="/js/i18n.js"></script>
</body>
</html>