<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <!-- Background Animation -->
    <canvas id="network-canvas"></canvas>
    <a href="/" class="home-button">
        <img src="https://styles.redditmedia.com/t5_851o4i/styles/profileIcon_0elfudeu2s5b1.jpg?width=256&height=256&frame=1&auto=webp&crop=256:256,smart&s=86be605407a08efe2894a6bacd089074aca51879" alt="Home">
    </a>
    <!-- Main Content -->
    <div class="main-content">
        <div class="gallery-container">
            <div class="gallery-wrapper">
                <button class="gallery-arrow prev-arrow">&lt;</button>
                <div class="gallery-content"></div>
                <div class="image-counter">0 / 0</div>
                <button class="gallery-arrow next-arrow">&gt;</button>
            </div>
        </div>

        <div class="image-modal">
            <span class="close-modal">&times;</span>
            <img class="modal-image" src="" alt="Enlarged image">
        </div>
    </div>

    <script src="/js/network-animation.js"></script>
    <script src="/js/gallery.js"></script>
</body>
</html> 