<!DOCTYPE html>
<html>
<head>
    <title data-i18n="lessonTitlePage">Lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
    <!-- KaTeX CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1tBCETKfPFPcxLR7diph9NkLkq3Y" crossorigin="anonymous">
    <!-- Custom styles for KaTeX -->
    <style>
        /* Hide the katex-html elements while keeping katex-mathml visible */
        .katex-html {
            display: none !important;
        }
    </style>
</head>
<body>
    <a href="/" class="home-button">
        <img src="https://styles.redditmedia.com/t5_851o4i/styles/profileIcon_0elfudeu2s5b1.jpg?width=256&height=256&frame=1&auto=webp&crop=256:256,smart&s=86be605407a08efe2894a6bacd089074aca51879" alt="Home">
    </a>
    <h1 id="lesson-title"></h1>
    
    <div id="lesson-image-container" class="lesson-image-container" style="display: none;">
        <img id="lesson-image" alt="Lesson Image" style="max-width: 100%; margin: 20px auto; display: block; border-radius: 8px;">
    </div>
    
    <div id="abcd-questions">
        <h3 data-i18n="multipleChoiceQuestions">Multiple Choice Questions</h3>
    </div>
    
    <div id="truefalse-questions">
        <h3 data-i18n="trueFalseQuestions">True/False Questions</h3>
    </div>
    
    <div id="number-questions">
        <h3 data-i18n="numericalQuestions">Numerical Answer Questions</h3>
    </div>

    <button id="submit-quiz-btn" data-i18n="submitQuiz">Submit</button>
    <div id="result"></div>
    <!-- KaTeX JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
    <!-- Optional: KaTeX auto-render extension -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="/js/lesson.js"></script>
    <script src="/js/i18n.js"></script>
</body>
</html>